ul.Process li {
    height: 35px;
    color: white;
    text-align: left;
    font-style: italic;
    font-weight:bolder;
    font-size: 10px;
    line-height: 35px;
    padding: 0px 20px;
    margin-bottom: 5px;
}

li.Bachelor {
    border-radius: 15px;
}

li.Master {
    border-radius: 10px / 50px;
}

li.Both {
    border-radius: 0px;
}

li.Gray {
    background: gray;
}
li.Evaluation {
    background: rgb(224, 103, 184);
}

li.Enrolment {
    background: rgb(239, 53, 59);
}

li.Planning {
    background: rgb(0, 94, 184);
}

li.Support {
    background: rgb(32, 172, 32);
}
li.Impact {
    background: rgb(0, 162, 199);
}